services:
  redis-master:
    image: redis:alpine
    hostname: redis-master
    command: >
      sh -c 'mkdir -p /etc/redis-config &&
        echo "port 6379" > /etc/redis-config/redis.conf && 
        echo "bind 0.0.0.0" > /etc/redis-config/redis.conf &&
        echo "appendonly yes" >> /etc/redis-config/redis.conf &&
        echo "protected-mode no" >> /etc/redis-config/redis.conf &&
        redis-server /etc/redis-config/redis.conf --appendonly yes --slave-read-only no'
    volumes:
      - redis_master_data:/data
    ports:
      - "6379:6379"
    networks:
      - redis-network
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]

  redis-replica:
    image: redis:alpine
    command: >
      sh -c 'mkdir -p /etc/redis-config &&
        echo "port 6380" > /etc/redis-config/redis.conf && 
        echo "bind 0.0.0.0" > /etc/redis-config/redis.conf &&
        echo "appendonly yes" >> /etc/redis-config/redis.conf &&
        echo "protected-mode no" >> /etc/redis-config/redis.conf &&
        redis-server /etc/redis-config/redis.conf --replicaof redis-master 6379 --slave-read-only no'
    volumes:
      - redis_replica_data:/data
    ports:
      - "6380:6380"
    networks:
      - redis-network
    deploy:
      replicas: 2
    depends_on:
      - redis-master

  redis-sentinel:
    image: redis:alpine
    command: >
      sh -c 'mkdir -p /etc/redis-config &&
        echo "bind 0.0.0.0" > /etc/redis-config/sentinel.conf &&
        echo "port 26379" > /etc/redis-config/sentinel.conf && 
        echo "sentinel monitor pona_master redis-master 6379 2" >> /etc/redis-config/sentinel.conf &&
        echo "sentinel resolve-hostnames yes" >> /etc/redis-config/sentinel.conf &&
        echo "sentinel down-after-milliseconds pona_master 30000" >> /etc/redis-config/sentinel.conf &&
        echo "sentinel failover-timeout pona_master 180000" >> /etc/redis-config/sentinel.conf &&
        echo "sentinel parallel-syncs pona_master 1" >> /etc/redis-config/sentinel.conf &&
        redis-server /etc/redis-config/sentinel.conf --sentinel'
    ports:
      - "26379:26379"
    networks:
      - redis-network
    environment:
      - TILT_MODE=no
    deploy:
      replicas: 3
    depends_on:
      - redis-master
      - redis-replica

networks:
  redis-network:
    name: redis-network
    driver: overlay

volumes:
  redis_master_data:
  redis_replica_data: