services:
  pona:
    build: .
    container_name: pona
    # Stack deploy need to build image first
    # and build, container_name contexts will be not work in stack deploy.
    # 
    # image: pona-discord-application:latest
    # 
    volumes:
      - ./.env.production:/pona/.env.production
      - ./ponaState/:/pona/ponaState/
    environment:
      # ... other environment variables
      LAVALINK_SERVER: localhost
      LAVALINK_PORT: 2333
      LAVALINK_PASSWORD: youshallnotpass
    expose:
      - 3000
    ports:
      - "3000:3000"

# For who have already lavalink network
#     networks:
#       - lavalink

# networks:
#   lavalink:
#     external: true